{{extend 'base.html'}}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{{for post in posts:}}
			<div class="media">
				<div class="media-left">
					<a href="#">
						{{=IMG(_src=URL('default','download',args=post.imagem),_width="190px",_height="220px")}}
					</a>
				</div> <div class="media-body">
						<h3 class="media-heading"> {{=A(post.titulo, _href=URL('default','post',args=post.id))}}</h3>
						<p style="overflow: hidden;" >{{=post.postagem}}</p>
					<hr>
				</div>
			</div>
		</div>		
	</div>
{{pass}}
</div>
